<div class="site-header">
  <div><p>Logo</p></div>
  <nav>
    <ul>
      <li>
        <a href="/weather">Weather</a>
      </li>
      <li>
        <a href="/events">Events</a>
      </li>
    </ul>
  </nav>
</div>
